# Direnv project configuration - https://direnv.net/
# Allow loading this file: direnv allow --config .env.direnv

# When in this directory, add the "bin" subdirectory to the user's path
PATH_add bin
