$RECYCLE.BIN/
.DS_Store

*.log
/CHANGELOG.md

.env
.env.*
!.env.example
!.env.github.example

infra/aws-ecs/ecs-autoscaling-config.json
infra/aws-ecs/ecs-task-definition.json

!.envrc

/build
/public
/_site

node_modules

_config.ts
